
<link rel="stylesheet" href="css/calendario.css" />

<div class='input-group date' id='datetimepicker1'>
	<input type='text' class="form-control" /> <span
		class="input-group-addon"> <span
		class="glyphicon glyphicon-calendar"></span>
	</span>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script data-require="bootstrap.js@3.3.6" data-semver="3.3.6"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script data-require="angular.js@1.4.9" data-semver="1.4.9"
	src="https://code.angularjs.org/1.4.9/angular.js"></script>
<script data-require="angular-route@1.4.9" data-semver="1.4.9"
	src="https://code.angularjs.org/1.4.9/angular-route.js"></script>
<script data-require="angular-animate@1.4.9" data-semver="1.4.9"
	src="https://code.angularjs.org/1.4.9/angular-animate.js"></script>
<script
	src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
<script src="js/libs/moment-with-locales.js"></script>
<script src="js/libs/bootstrap-datetimepicker.js"></script>

<script src="js/calendario.js"></script>
