
<link
	href='http://fonts.googleapis.com/css?family=Titillium+Web:200,300'
	rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono'
	rel='stylesheet' type='text/css'>

<div ng-app="sunatApp" ng-controller="CodigoQrController">
	<div class="body">
		<p>
			<qr text="qrcodeString" type-number="typeNumber"
				correction-level="correctionLevel" size="size"
				input-mode="inputMode" image="image"></qr>
		</p>
		<p>
			<label for="text">Text:</label>
		</p>
		<p>
			<textarea type="text" id="text" class="textarea"
				ng-model="qrcodeString" placeholder="YOUR TEXT TO ENCODE"></textarea>
		</p>
	</div>
</div>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>
<script src="js/libs/qrcode.js"></script>
<script src="js/libs/angular-qr.js"></script>

<script src="js/codigo-qr.js"></script>
